.container__content {
  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}


.content__cover > img {
  box-shadow: 1px 0px 18px 1px rgba(255,255,255,0.77);
  -webkit-box-shadow: 1px 0px 18px 1px rgba(255,255,255,0.77);
  -moz-box-shadow: 1px 0px 18px 1px rgba(255,255,255,0.77);
  border-radius: 5px;
  width: 520px;
  min-width: 600px;
  height: 365px;
  margin-bottom: 20px;
}

.content__description{
  margin-top: 15px;
}

.content__description > p {
  text-align: justify;
  max-width: 1600px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.5;
  color: rgb(139, 138, 138);
}
