<div class="container__menu-bar">
  <ul>
    <li><a href="https://linkedin.com/in/cassio-c-camargo">
      <img src="https://www.svgrepo.com/show/448234/linkedin.svg" alt="Linkedin">
    </a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/Cassio1090">
      <img src="https://www.svgrepo.com/show/475654/github-color.svg" alt="Github">
    </a></li>
    <li><span>•</span></li>
    <li><a href="https://instagram.com/cassio_camargo1090">
      <img src="https://www.svgrepo.com/show/387849/instagram.svg" alt="Instagram">
    </a></li>
  </ul>
</div>

